{% extends "layout.html" %}
{% block content %}
    <h1>About</h1>
    <p>This is a web app that allows user input with zip code to see movie recommendations based on the current weather.</p>
    <br>
    <p>By Alejandro Diaz Meinecke and Joel Davis</p>
    <p>This was our first experience with a hackathon and we had an interesting experience with this project.</p>
    <p>Alejandro took up the bulk of the content working the API while Joel helped with making Flask files.</p>
    <p>Reach out to Alejandro <a href="https://github.com/admc1337">here</a> and Joel <a href="https://github.com/joelDev28">here</a>.</p>
    <p>Additionally, here you can find the <a href="https://github.com/admc1337/hackUMBC2023/tree/main">github</a> and 
        <a href="https://devpost.com/software/weather-watchlist">devpost</a>.</p>

{% endblock content %} 